/*-- scss:defaults --*/

// New variables
$font-family-sans-serif: 'Open Sans', Roboto, Arial, sans-serif, !default;
$hds-blue: #2f5597;

// Existing variables
$presentation-heading-color: $hds-blue !default;

/*-- scss:rules --*/
.reveal .progress {
    color: $hds-blue;
}

.reveal .slide-number {
    color: $hds-blue;
}

.reveal .caption {
    color: $hds-blue;
}

.reveal figcaption {
    color: $hds-blue;
}

.reveal .slide-menu-button {
    color: $hds-blue;
}

.reveal .slide-logo {
    max-height: 5% !important;
}
